.game {
  font-size: 2rem;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
}

.cube {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}
